body {
  background-color: #ccc;
}

.todoContainer {
width: 500px;
margin: 0 auto;
margin-top: 3em;
}

.todoInput {
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 1em;
  width: 360px;
}
.button{
  padding: 0.7em;
  border: 0px;
  border-radius: 5px;
  color: white;
  width: 90px;
}
.buttonCreate {
  background-color: dodgerblue;
}

.buttonEdit{
  background-color: deepskyblue;
  margin-right: 1em;
}

.buttonDelete {
  background-color: firebrick;
}

.todoItem {
  background-color: white;
  padding: 1em;
  width: 100%;
  margin-bottom: 10px;
}

.titleSpan{
}

.containerItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
